body {
	background-color: #f4f4f4;
	font-family: "Lato";
	padding-bottom: 34px;
}
.panel-default {
	border-color: #aaa;
}

.table caption {
	padding-left: 8px;
}

#filepicker {
	display: none;
}

.btn-file {
	margin-bottom: 20px;
}

#results em {
	color: #888;
}

#results .table-info {
	border-top: 1px solid #ccc;
	cursor: pointer;
	transition: all .2s;
}

#results .table-info:hover {
	background-color: #eee;
}

#results .table-details {
	display: none;
}

#results .table-details > td {
	padding: 0px;
}
#results .table-details .well {
	margin-bottom: 0px;
	border-radius: 0px;
}
#results .table-details table td {
	padding: 3px 10px;
}
#results .table-details table .key {
	font-weight: bold;
}

#results .table-info.expand {
	background-color: #eee;
	font-weight: bold;
}

#results .table-info.expand + .table-details {
	display: table-row;
}

#results img {
	max-width: 150px;
	height: auto;
	max-height: 50px;
}

#filedrag {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.panel-body {
	display: block;
}

@keyframes dragging {
	0%  { background-color: #cef; }
	100%  { background-color: #eff; }
}

#filedrag.dragging {
	border: 1px solid #888;
	animation: dragging .6s infinite alternate;
}

#filedrag.loading {
	border: 1px solid #888;
	animation: none;
	background-color: #aca;
}

#message {
	display: block;
	position: absolute;
	top: calc(50% - 50px);
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

#spinner {
	display: none;
}

#copyright {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 34px;
	line-height: 30px;
	padding: 0px 20px;
	text-align: center;
	cursor: default;
	background-color: rgba(0, 0, 0, 0.2);
	color: #222;
	opacity: .4;
	transition: opacity .2s;
}
#copyright a {
	color: #28c;
}
#copyright:hover {
	opacity: 1;
}

.loading #spinner {
	display: block;
	color: #8a8;
	font-size: 8px;
	margin: 10px auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: spin 1.3s infinite linear;
	animation: spin 1.3s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@keyframes spin {
	0%,
	100% { box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0; }
	12.5% { box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
	25% { box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em; }
	37.5% { box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em; }
	50% { box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em; }
	62.5% { box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em; }
	75% { box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0; }
	87.5% { box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em; }
}